<!-- <ul>
    <li *ngFor= "let roomtype of roomtypes">
        {{roomtype.id}}
    </li>
</ul> -->

<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Description</th>
        <th scope="col">Rent</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let roomtype of roomtypes">
        
        <td>{{roomtype.id}}</td>
        <td>{{roomtype.rtdesc}}</td>
        <td>{{roomtype.rent}}</td>
      </tr>

    </tbody>
  </table>

  <div class="container">
    <div class="row">
      <div class="col text-center">
        <button class="btn btn-primary" (click)="updateorupdate = true">Create</button>
        <button class="btn btn-secondary">Update</button>
      </div>
    </div>
  </div>



    <div ngbDropdown>
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="roomNo">
            Select the Room to Delete
          </a>
          <div ngbDropdownMenu  class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a ngbDropdownItem class="dropdown-item" *ngFor= "let roomtype of roomtypes" (click)="DeleteT(roomtype.id)">{{roomtype.id}}</a>
          </div>
      </div>




  <form (ngSubmit)="create()" #CreateForm="ngForm" *ngIf="updateorupdate">

      <div class="form-group">
        <label for="exampleInputPassword1" class="form-label" >Rent</label>
        <input  class="form-control" name="rent" [(ngModel)] = "roomtypeRequest.rent">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="form-label" >Description</label>
        <input  class="form-control" name="rtdesc" [(ngModel)] = "roomtypeRequest.rtdesc">
      </div>

    <button type="submit" class="btn btn-primary" >Submit</button>
  </form>

  